.Trip {
  position: relative;
}

.LocationContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3rem;
  margin-top: 2rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.36);
  background: #fff;
}