@media only screen and (max-width: 48em) {
  .container {
    overflow-x: hidden;
    width: 100vw;
  }
  #GmapContainer > div {
    height: 35vh !important;
    margin: 0 !important;
  }
  #AdaptableCardContainer {
    height: auto !important;
    margin: 0 5vw;
  }
}