.GmapContainer {
  @media (max-width: 768px) {
    flex-basis: 60%;
    display: flex;
    align-items: stretch;
  }
  
  margin: 0 !important;
  width: 100%;

  a[href^="http://maps.google.com/maps"],
  a[href^="https://maps.google.com/maps"],
  a[href^="https://www.google.com/maps"] {
    display:none !important
  }

  @media (min-width: 768px) {
    height: calc(100vh - 64px);
  }
}

.Add .GmapContainer {
  @media (max-width: 768px) {
    display: none;
  }
}

.gmnoprint a, .gmnoprint span {
  display: none;
}