.GmapContainer {
  @media (max-width: 768px) {
    flex-basis: 64%;
    display: flex;
    align-items: stretch;
  }
  
  margin: 0 !important;
  width: 100%;

  @media (min-width: 768px) {
    height: calc(100vh - 64px);
  }
}

.gmnoprint a, .gmnoprint span {
  display: none;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
  display:none !important
}