@import "../_base/variables";

.Hero {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .middle-xs {
    height: 100%;
  }
}

.Hero__Main {
  flex-basis: 60%;
  background: 50% no-repeat;
  min-height: 33vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    background: 30% no-repeat;
  }

  .container {
    flex-basis: 100%;
  }
}

.Hero__Headline {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 6vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: 4em;
    word-spacing: 50vw;
    line-height: 1;
  }
}

.Hero__Content {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Hero__tagline {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.Footer {
  color: #fff;
  background: #333;
  height: 12vh;

  .container {
    height: 100%;
  }

  .middle-xs {
    height: 100%;
  }

  a {
    transition: all 300ms;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    
    &:hover {
      color: $color-brand;
    }
  }
}