@import "../_base/variables";

$heroHeight: 64vh;
$remainderHeight: calc(100vh - (64px + #{$heroHeight}));

.Hero {
  background: center center no-repeat;
  min-height: 33vh;
}

.Hero--height {
  height: $heroHeight;
}

.Hero__Headline {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 6vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: 4em;
    word-spacing: 50vw;
    line-height: 1;
  }
}

.Remainder--height {
  height: $remainderHeight;
}

.Remainder__tagline {
  color: #fff;
  font-size: 1.5em;
}