.LocationContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3rem;
  margin-top: 2rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 48em) {
    position: static;
    margin: 0;
  }
}
