@import "../_base/variables";

body {
  background: $color_brand;
  font-size: 16px;
}

.hero {
  background: center center no-repeat;
  min-height: 33vh;
  margin-bottom: 32px;
}

.hero--height {
  min-height: 52vh;
}

.headline {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 6vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: 4em;
    word-spacing: 50vw;
    line-height: 1;
  }
}