html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  background: $color_brand;
}

button,
html [type=button] {
  -webkit-appearance: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 600;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
